FIREBASE_CREDENTIALS_PATH=
NOTIFICATION_PROVIDER=free
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM_NUMBER=
AMBULANCE_PROVIDER=free
AMBULANCE_WEBHOOK_URL=
VISION_PROVIDER=free_manual
TRAFFIC_PROVIDER=free_manual
